h2 {
    color: red;
}

.loading-true {
    background-image: url(https://www.pinclipart.com/picdir/big/196-1968853_orange-financials-loading-images-transparent-gif-clipart.png);
    //         text-align: center;
    //         border: 16px solid #f3f3f3;
    //         /* Light grey */
    //         border-top: 16px solid #3498db;
    //         /* Blue */
    //         border-radius: 50%;
    width: 50%;
    height: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}